<!DOCTYPE html>
<html lang="en" ng-app="nom_application_angular" ng-controller="nom_controleur_angular">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/materialize.css">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="https://camo.githubusercontent.com/6795c053f2fafee4d1c76f3a181876013827dd5e/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333437303430322f313230383630372f32376637643134322d323564362d313165332d386330372d6139316532633736396435322e706e67">
		<title>La clé du bonheur</title>
	</head>
	<body class="ng-cloak">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo" style="margin-left: 15px">Démonstration Angular.js</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Démonstration</a></li>
					<li><a href="tuto.html">Tutoriel</a></li>
				</ul>
			</div>
		</nav>
		<main class="container">
		<div class="">
			
			
			<div id="navCard" class="card-panel z-depth-5 hide-on-med-and-down section table-of-contents" style="position: fixed; top: 70px; left: 10px; width: 16%; height: 310px">
				
				<h5 style="margin-top: 0px !important">Menu</h5>
				
				<ul>
					<li style="margin-bottom: 5px"><a href="#intro">Introduction</a></li>
					<li style="margin-bottom: 5px"><a href="#ModelVue">Modèle et Vue</a></li>
					<li style="margin-bottom: 5px"><a href="#AffichageTri">Affichage et tri</a></li>
					<li style="margin-bottom: 5px"><a href="#Ordre">Ordre</a></li>
					<li style="margin-bottom: 5px"><a href="#Validations">Validations</a></li>
					<li style="margin-bottom: 5px"><a href="#Evenements">Évènements</a></li>
					<li style="margin-bottom: 5px"><a href="#Autre">Autres informations utiles</a></li>
				</ul>
				
			</div>

			<div id="navCard2" class="card-panel z-depth-5 hide-on-med-and-down section table-of-contents" style="position: fixed; top: 400px; left: 10px; width: 16%;">
				
				<h5 style="margin-top: 0px !important">Aperçu liste</h5>
				
				<ul class="ng-cloak">
					<li ng-repeat="x in contacts | filter :{prenom:filtrePrenom} | filter :{nom:filtreNom} | orderBy:champTri" ng-show="(masquerInactifs && x.actif) || !masquerInactifs">{{x.nom}}, {{x.prenom}} <img ng-show="!x.actif" class="right" src="https://t3.ftcdn.net/jpg/01/38/26/16/240_F_138261672_qLl1IHxZOCPfswr6nQBqXDfaGJFjkHeR.jpg" alt="" width="20" height="20"></li>

				</ul>
				
			</div>
			<div class="section scrollspy" id="intro">
				<h4 class="center" >Introduction à la démonstration</h4>
				<p align="justify">
				Cette démonstration d'Angular utilise pour les exemples un objet <b>"contact"</b>. Une liste des contacts est disponibles plus bas et comprend les informations détaillées de chaque contact. Une liste sommaire comprenant le nom, le prénom et le status (actif/inactif) est affichée à gauche de l'écran. Un contact est défini par ces attributs:
				</p>
				<table class="striped">
					<b>
					<thead><th>Champ</th><th>Type</th></thead>
					</b>
					<tr><td>id</td><td>Nombre</td></tr>
					<tr><td>nom</td><td>String</td></tr>
					<tr><td>prenom</td><td>String</td></tr>
					<tr><td>addresse</td><td>String</td></tr>
					<tr><td>ville</td><td>String</td></tr>
					<tr><td>code_postal</td><td>String</td></tr>
					<tr><td>actif</td><td>Booléen</td></tr>
				</table>
				<br>
			</div>

			<hr>

			<div class="section scrollspy" id="ModelVue">
				<h4 class="center" >Synchronisation de la vue et du modèle</h4>
				<h5 class="center" style="color: #C9C9C9; font-size: 1.5em">Directives utilisées dans cet exemple: <b>ng-model</b>, <b>ng-show</b>, <b>ng-hide</b></h5>
				<p align="justify">
					Les données d'une application Angular sont directement reliées aux données sur la vue. C'est à dire qu'une modification de la valeur d'une donnée
					dans l'application Angular entraînera immédiatement une modification de la donnée dans la vue et vice-versa. La directive angular utilisée pour lier un champ dans un formulaire à une donnée de l'application se nomme <b>ng-model</b>.
				</p>
				<p align="justify">
					Une autre fonctionnalité explorée dans cet exemple est l'utilisation de la directive <b>ng-show</b>, qui permet d'afficher ou de masquer un élément à l'aide d'une variable booléenne fournie par l'application Angular.
				</p>
				
				<table class="striped">
					<thead><th>Nom Complet</th><th>Addresse</th><th></th></thead>
					<tr ng-repeat="x in contacts | filter :{prenom:filtrePrenom} | filter :{nom:filtreNom} | orderBy:champTri" ng-show="(masquerInactifs && x.actif) || !masquerInactifs">
						<td>{{x.nom}}, {{x.prenom}}</td>
						<td>{{x.adresse}} <br>{{x.ville}}<br>{{x.code_postal}}</td>
						<td><a class="btn-floating btn-large waves-effect waves-light red" ng-click="supprimerContact(x.id)"><i class="material-icons">delete</i></a></td>
					</tr>
				</table>
				<br><br><div class="center container">
					<div class=""><h5>Ajouter un contact</h5>
						<div class="row">
							<div class="input-field col s4">
								<input type="text" id="nouveauNom" ng-model="nouveauNom">
								<label for="nouveauNom">Nom</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="nouveauPrenom" ng-model="nouveauPrenom">
								<label for="nouveauPrenom">Prénom</label>
							</div>
							<div class="input-field col s4">
								<input type="checkbox" id="userActif" ng-model="userActif">
								<label for="userActif">Actif</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s4">
								<input type="text" id="nouvelleAddresse" ng-model="nouvelleAddresse">
								<label for="nouvelleAddresse">Adresse</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="nouvelleVille" ng-model="nouvelleVille">
								<label for="nouvelleVille">Ville</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="nouveauCP" ng-model="nouveauCP">
								<label for="nouveauCP">Code Postal</label>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row center">
					<button type="button" class="btn waves-effect waves-ripple red" ng-click="ajouter()">Ajouter le contact</button>
				</div>
				<br><br>
				<div class="row">
					<div class="col s4">
						<div ng-repeat="x in contacts">
							<input type="text" ng-model="x.nom" id="{{x.nom}}{{x.prenom}}">
						</div>
					</div>
					<div class="col s8" style="display: table; height: 180px; overflow: hidden;">
						<div style="display: table-cell; vertical-align: middle;">
							<h5 style="font-size: 1.2em"><b>Modification du modèle</b><b style="color: #C9C9C9"> - ng-model</b></h5>
							<p align="justify">La modification d'un nom dans ces champs modifiera au même moment le nom dans le tableau, car leur valeur est inter-reliée.
								</p><p align="justify"> De la même manière, le tableau ci-dessus faisant référence à la variable d'application "<b>contacts</b>", qui est un "array" contenant tous les contacts (grâce à <b>JSON</b>), l'ajout ou le retrait d'un contact à cet array entraînera l'ajout ou le retrait d'une entrée au tableau.</p>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row" align="justify">

					<hr>

					<div class="scrollspy section" id="AffichageTri">
						<h4 class="center"  >Affichage et tri des données</h4>
						<h5 class="center" style="color: #C9C9C9; font-size: 1.5em">Directives utilisées dans cet exemple: ng-repeat, ng-show et filtres</h5>
						
						L'affichage d'une liste de données est facilité grâce à la directive "ng-repeat", qui répétera la balise et son contenu pour chaque élément dans un "array" javascript présent dans l'application. C'est à l'aide de cette directive que le tableau au haut de la page est rempli. La syntaxe est la suivante: <br><br>
						<div class="center">
							<code class="center">
							<b>ng-repeat</b>="x <b>in</b> contacts"
							</code>
						</div>
						<br><br>
						L'objectif du framework de lier des valeurs affichées à l'écran aux variables d'application. La case à cocher ci-dessous est liée à la directive <b>ng-show</b> des rangées du tableau ci-dessus.
						Les rangées du tableau seront seulement affichées si la case n'est pas cochée et que l'attribut actif est vrai.
						
						<div class="input-field center">
							<input type="checkbox" id="cbVisible" ng-model="masquerInactifs">
							<label for="cbVisible" ng-click="toast()">Masquer les contacts inactifs</label>
						</div>
						<br><br>
						Angular propose une directive, appelée "<b>filter</b>", permettant d'effectuer un tri rapide des données dans un "array". Cette directive est appelée de la manière suivante:
						<br><br>
						
						<div class="center">
							<code class="center">
							<b>ng-repeat</b>="x <b>in</b> contacts <b>| filter</b> :{prenom:filtrePrenom}"
							</code>
							<br><br>
							<p style="text-align: justify">
								Il est aussi possible d'enchaîner les filtres, par exemple, le filtre ci-dessous masquera tous les contacts dont le nom et le prénom ne correspond pas aux  valeurs inscrites dans les champs.
							</p>
							
							<code>
							<b>ng-repeat</b>="x <b>in</b> contacts <b>| filter</b> :{prenom:filtrePrenom} <b>| filter</b> :{nom:filtreNom}"
							</code>
						</div><br>
						<div class="container">
							<b>Exemple: </b><br>
							<div class="row" style="margin-left: 5px!important">
								<div class="input-field">
									<input type="text" id="txtFiltre" ng-model="filtrePrenom" class="col s5">
									<label for="txtFiltre">Rechercher les Prénoms contenant</label>
								</div>
							</div>
							<div class="row" style="margin-left: 5px!important">
								<div class="input-field">
									<input type="text" id="txtFiltre2" ng-model="filtreNom" class="col s5" required>
									<label for="txtFiltre2">Rechercher les noms contenant</label>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<hr>
			
				<div class="section scrollspy" id="Ordre">
				<div class="center">
					<h4>Ordre des données</h4>
					<h5 style="color: gray">Directive orderBy</h5>
					</div>
				</div>
				
				<br>
				
				La directive orderBy permet d'ordonner un "array" selon le champ spécifié
				<br><br>
				<div class="center">
					<code>
					<b>ng-repeat</b>="x <b>in</b> contacts <b>| filter</b> :{prenom:filtrePrenom} <b>| orderBy:</b>'prenom'"
					</code><br><br><br>
				</div>
				Il est possible de spécifier, à la place d'une valeur fixe, une variable de modèle pour organiser la liste selon le champ désiré.
				<div class="center">
					<code><br>
					<b>ng-repeat</b>="x <b>in</b> contacts <b>| filter</b> :{prenom:filtrePrenom} <b>| orderBy:</b>champVoulu"
					</code><br><br><br>
				</div>
				
					<b>Exemple: </b><br>
					
					Il est possible d'organiser la liste de contacts selon les champs suivants:
				<div class="container">	
					<div class="input-field row">
						<label for="selectTri"></label>
						<select class="col s12" id="selectTri" name="selectTri">
							<option value="" disabled selected>Sélectionnez le champ selon lequel la liste doit être trié</option>
							<option ng-repeat="k in champs" value="{{k.nomChamp}}">{{k.nomChamp}}</option>
						</select>
					</div>
					
				</div>
				
				<br>
			</div>

			<hr>


			<div class="row" align="justify">
				<div class="section scrollspy" id="Validations">
					<h4 class="center">Validation des données</h4>
					
					<br>
					<p>
						Angular fournit un ensemble de directives et de classes CSS permettant de valider les entrées d'un formulaire et de fournir du feedback à l'utilisateur quant à l'état du formulaire.
						<br>
						Les propriétés sont les suivantes:
						<div class="center">
							<table style="" class="container striped">
							<thead><th class="center">Attribut</th><th class="center">Définition</th></thead>
								<tr><td><b>$untouched: </b></td><td> L'utilisateur n'a pas cliqué ou modifié le champ, , actualisé du moment que l'utilisateur quitte le champ</td></tr>
								<tr><td><b>$touched: </b></td><td> L'utilisateur a cliqué sur le champ et/ou l'a modifié, , actualisé du moment que l'utilisateur quitte le champ</td></tr>
								<tr><td><b>$pristine: </b></td> <td>L'utilisateur n'a pas modifié le champ</td></tr>
								<tr><td><b>$dirty: </b></td><td> Le champ a été modifié par l'utilisateur</td></tr>
								<tr><td><b>$invalid: </b></td><td> Le valeur du champ est invalide selon le critère spécifié</td></tr>
								<tr><td><b>$valid: </b></td><td> La valeur du champ est valide selon le critère spécifié </td></tr>
							</table>
						</div><br>
						<b>Exemple: </b><br>
						<div class="container">
							
							<form name="formulaireExempleValidation">
								<div class="input-field">
									<label for="champValidation">Champ à valider</label>
									<input type="text" id="champValidation" name="champValidation" ng-model="champValidation" required>
								</div>
							</form>
							<style>
								
								td.valide{
									background-color: lightgreen;
								}
								td.invalide{
									background-color: pink;
								}
							</style>
							<table class="striped">
								<thead><th>Attribut</th><th>Valeur</th></thead>
								<tr>
									<td>$valid</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$valid">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$invalid">Faux</td>
								</tr>
								<tr>
									<td>$invalid</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$invalid">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$valid">Faux</td>
								</tr>
								<tr>
									<td>$pristine</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$pristine">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$dirty">Faux</td>
								</tr>
								<tr>
									<td>$dirty</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$dirty">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$pristine">Faux</td>
								</tr>
								<tr>
									<td>$untouched</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$untouched">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$touched">Faux</td>
								</tr>
								<tr>
									<td>$touched</td>
									<td class="valide" ng-show="formulaireExempleValidation.champValidation.$touched">Vrai</td>
									<td class="invalide" ng-show="formulaireExempleValidation.champValidation.$untouched">Faux</td>
								</tr>
							</table>
						</div>
						<br><br>
						Les classe CSS sont les suivantes:
						<div class="center striped">
							<table style="" class="container">
								<tr><td><b>ng-untouched: </b></td><td> L'utilisateur n'a pas cliqué ou modifié le champ, actualisé du moment que l'utilisateur quitte le champ</td></tr>
								<tr><td><b>ng-touched: </b></td><td> L'utilisateur a cliqué sur le champ et/ou l'a modifié, actualisé du moment que l'utilisateur quitte le champ</td></tr>
								<tr><td><b>ng-pristine: </b></td> <td>L'utilisateur n'a pas modifié le champ</td></tr>
								<tr><td><b>ng-dirty: </b></td><td>Le champ a été modifié par l'utilisateur</td></tr>
								<tr><td><b>ng-valid: </b></td><td> Le valeur du champ est valide selon le critère spécifié</td></tr>
								<tr><td><b>ng-invalid: </b></td><td> La valeur du champ est invalide selon le critère spécifié </td></tr>
							</table>
						</div>
						
					</p>
					<b>Exemple: </b><br>
					<div class="container">
						<table class="striped">
						<thead><th>Classe</th><th class="center">Style</th></thead>
							<tr><td><b>ng-untouched: </b></td><td>La couleur du texte est noire</td></tr>
							<tr><td><b>ng-touched: </b></td><td>La couleur du texte est rouge</td></tr>
							<tr><td><b>ng-pristine: </b></td> <td>La bordure du champ est verte</td></tr>
							<tr><td><b>ng-dirty: </b></td><td>La bordure du champ est rouge</td></tr>
							<tr><td><b>ng-valid: </b></td><td>La couleur du champ est verte</td></tr>
							<tr><td><b>ng-invalid: </b></td><td>La couleur du champ est rouge</td></tr>
						</table>
						<style>
							
							#champValidationCss.ng-valid{
								background-color: lightgreen;
							}
							#champValidationCss.ng-invalid{
								background-color: pink;
								color: red;
							}
							#champValidationCss.ng-pristine{
								border: 2px solid green;
							}
							#champValidationCss.ng-dirty{
								border: 2px solid red;
							}
							#champValidationCss.ng-untouched{
								color: black;
							}
							#champValidationCss.ng-touched{
								color: red;
							}
						</style>
						<br>
						<form name="formulaireExempleCss">
							<div class="input-field">
								<label for="champValidationCss" style="margin-left: 10px; margin-bottom: 10px !important">Champ à valider 	</label>
								<input type="text" id="champValidationCss" name="champValidationCss" ng-model="champValidationCss" required placeholder="">
							</div>
						</form>
						
						<br><br>
					</div>
											</table>
						<style>
							
							#champExempleRegex.ng-valid{
								background-color: lightgreen;
							}
							#champExempleRegex.ng-invalid{
								background-color: pink;
							}

						</style>

					Il est possible de spécifier un REGEX auquel le champ doit correspondre pour être considérer valide (<b>ng-valid</b>, <b>$valid</b>)
					<br>
					Ce REGEX doit être inscrit directement dans la directive ou être une variable de scope dont le nom doit être inscrit dans la directive "<b>ng-pattern</b>" d'une balise <b>input</b>.

					<b>Exemple: </b><br><br>
					<div class="container">
						<form name="formulaireExempleRegex">
							<div class="input-field">
								<label for="champExempleRegex" style="margin-left: 10px; margin-bottom: 10px !important">Champ à valider 	</label>
								<input type="text" id="champExempleRegex" name="champExempleRegex" ng-model="champExempleRegex" required ng-pattern="emailFormat" placeholder="jeanmarc@hotmail.com">
							</div>
						</form>
						<span style="color: red" ng-show="formulaireExempleRegex.champExempleRegex.$invalid">Format d'email invalide!</span>
					</div>

				</div>
<br><br>
	<hr>

				<div class="scrollspy section" id="Evenements">
				<h4 class="center">Évènements</h4>
				
				<p align="justify">
					Angular fournit plusieurs directives très efficaces pour gérer les évènements se produisant sur une page. Les principaux évenements Angular sont les suivants.
					<table class="striped container">
						<thead>
							<th>Évènement</th>
							<th>Activation</th>
						</thead>
						<tr id="blur" >
							<td><b>ng-blur</b></td>
							<td>Le focus est perdu sur un <b style="text-decoration: underline">champ</b>. Le focus doit préalablement être mis sur le champ.
								<div class="input-field">
									<input type="text" ng-blur="modifierStyle('blur')">
									<label for="bbb">Exemple</label>
								</div>
							
							</td>
						</tr>
						<tr id="change" >
							<td><b>ng-change</b></td>
							<td>La valeur d'une variable du <b style="text-decoration: underline">modèle</b> a été modifiée (le champ doit comporter la directive <b>ng-model</b>).
								<div class="input-field">
									<input ng-model="testChange" type="text" ng-change="modifierStyle('change')">
									<label for="bbb">Exemple</label>
								</div>
							</td>
						</tr>
						<tr id="clic" ng-click="modifierStyle('clic')">
							<td><b>ng-click</b></td>
							<td>Clic sur le champ ou l'élément</td>
						</tr>
						<tr id="copier" ng-copy="modifierStyle('copier')">
							<td><b>ng-copy</b></td>
							<td >Action "Copier" effectuée sur le champ ou l'élément</td>
						</tr>
						<tr id="couper" ng-cut="modifierStyle('couper')">
							<td><b>ng-cut</b></td>
							<td >Action "Couper" effectuée sur le champ ou l'élément</td>
						</tr>
						<tr id="dblclic" ng-dblclick="modifierStyle('dblclic')">
							<td><b>ng-dblclick</b></td>
							<td>Double clic effectué sur le champ ou l'élément</td>
						</tr>
						<tr id="focus" ng-focus="modifierStyle('focus')">
							<td><b>ng-focus</b></td>
							<td>Focus obtenu sur le champ ou l'élément***</td>
						</tr>
						<tr id="kdown" ng-keydown="modifierStyle('kdown')">
							<td><b>ng-keydown</b></td>
							<td>
							L'utilisateur a appuyé sur une touche à l'intérieur du champ ou de l'élément.
								<div class="input-field">
									<input type="text" >
									<label for="aaa">Exemple</label>
								</div>

							</td>
						</tr>
						<tr id="kup" ng-keyup="modifierStyle('kup')">
							<td><b>ng-keyup</b></td>
							<td>
							L'utilisateur a appuyé sur une touche à l'intérieur du champ ou de l'élément.
								<div class="input-field">
									<input type="text" >
									<label for="bbb">Exemple</label>
								</div>

							</td>
						</tr>
						<tr id="mdown" ng-mousedown="modifierStyleHalf('mdown')" ng-mouseup="releaseStyle('mdown')" ng-mouseleave="releaseStyle('mdown')">
							<td><b>ng-mousedown</b></td>
							<td>Clic gauche retenu sur le champ ou l'élément</td>
						</tr>
						<tr id="menter" ng-mouseenter="modifierStyle('menter')">
							<td><b>ng-mouseenter</b></td>
							<td>Le curseur est au dessus du champ ou de l'élément</td>
						</tr>
						<tr id="mleave" ng-mouseleave="modifierStyle('mleave')">
							<td><b>ng-mouseleave</b></td>
							<td>Le curseur vient de quitter le champ ou l'élément.</td>
						</tr>
						<tr id="mover" ng-mouseover="modifierStyleHalf('mover')" ng-mouseup="releaseStyle('mover')" ng-mouseleave="releaseStyle('mover')">
							<td><b>ng-mouseover</b></td>
							<td>Le curseur est à l'intérieur du champ ou de l'élément. Cet évènement est activé à chaque fois que le curseur change de noeud enfant.</td>
						</tr>
						<tr id="mup" ng-mouseup="modifierStyle('mup')">
							<td><b>ng-mouseup</b></td>
							<td>Le clic gauche vient d'être relaché sur le champ ou l'élément</td>
						</tr>
						<tr id="paste" ng-paste="modifierStyle('paste')">
							<td><b>ng-paste</b></td>
							<td>L'action "coller" a été effectué sur le champ ou l'élément</td>
						</tr>
					</table>


				</p>
				
				

				</div>
				
				<hr><br><br>
								<div class="scrollspy section" id="Autre">
				<h4 class="center">Autres informations utiles</h4>
				La classe <b>ng-cloak</b> est une classe CSS qu'il est possible d'assigner à n'importe quel élément du document. Cette classe est active tant que l'application angular n'est pas complètement chargée et permet de masquer les artéfacts indésirables (ex.: { {  et } })

				<br><br>
				<br>
				<br>
				<hr>
				<br>
				<br>	
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				</div>
				<p style="color: gray">
				Jonathan Lafrenière - C2T3 - 2017
				</p>
				</main>
				<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
				<script src="js/app_angular.js""></script>
				<script src="js/navCard.js""></script>
				<script>
					$(document).ready(function(){
							$("#selectTri").material_select();
					});
				</script>
				
			</body>
		</html>